* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 72.5%;
}
.navcolorBg {
  background: #2ecc71;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-img {
  width: 100%;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 3.8rem;
}
.section-hero {
  background-color: #d5f5e3;
}

.row {
  max-width: 130rem;
  margin: 0 auto;
}
